<h1>Search Results</h1>

<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= user.email %>
        <%= button_to "Start Conversation", conversations_path(conversation: { recipient_id: user.id }), method: :post, class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No users found</p>
<% end %>
